extends layout

block content
    h1 Login
    p Please register with below form
    form(method = 'POST', action = '/topic/add', enctype = 'multipart/form-data')
        .form-group
            label topic
            input.form-control(name='topicName', type = 'text', placeholder = 'Enter topic')
        .form-group
            label description
            input.form-control(name='topicDefinition', type = 'text', placeholder = 'give the definition')
        input.btn.btn-default(name = 'Submit', type = 'submit', value = 'Yolla !')