extends ProfileLayout

block solMenu
    ul.nav.nav-pills.nav-stacked
        li
            a(href='/user/settings')
                |  Takip Ettiklerim
        li
            a(href='/admin/addMainTopic')
                | Temel Alan Ekle
        li.active
            a(href='/admin/addChiefEditor')
                | Baş Editör Ekle
        li
            a(href='/admin/wholeData')
                | Alt Admin İşlemleri
        li
            a(href='/user/settings')
                |  Icons
block content
    form(method='post', action='/admin/addChiefEditor')
        .form-group
            .col-md-1
            .col-md-11
                .panel.panel-success.col-md-5
                    .panel-heading Main Topic
                    .panel-body
                        select(name='mainTopicID')
                            if myMainTopics
                                each mainTopic in myMainTopics
                                    option(value='#{mainTopic._id}')  #{mainTopic.name}
                .panel.panel-success.col-md-5
                    .panel-heading Kullanıcı
                    .panel-body
                        select(name='userID')
                            if myUsers
                                each user in myUsers
                                    option(value='#{user._id}')  #{user.username}
                .col-md-5
                    button.btn.btn-success.btn-block(type='submit', value='Submit') Kaydet

script(src='js/jquery.min.js')
script(src='js/bootstrap.min.js')
script(src='js/scripts.js')
