extends ProfileLayout

block solMenu
    ul.nav.nav-pills.nav-stacked
        li
            a(href='/user/following_list/#{user._id}')
                |  Takip Ettiklerim
        li.active
            a(href='/chiefEditor/addKeyword')
                |  Anahtar Kelime Ekle
        li
            a(href='/chiefEditor/addEditor')
                | Editör Ekle
        li
            a(href='/topic/myRejectedTopics')
                |  Reddedilen Kavramlarım
        li
            a(href='/topic/onApprove')
                |  Onay Bekleyen Kavramlarım
        li
            a(href='/topic/myTopics')
                | Onaylanan Kavramlarım
        li
            a(href='/topic/myDrafts')
                | Taslaklarım
block content
    form(method='post', action='/chiefEditor/addKeyword')
        .form-group
            .col-md-1
            .col-md-11
                .panel.panel-success.col-md-5
                    .panel-heading Bilim Alanı
                    .panel-body
                        select(name='subTopicId')
                            each subTopic in subTopics
                                option(value='#{subTopic._id}')  #{subTopic.name}
                .panel.panel-success.col-md-8
                    .panel-heading Anahtar Kelime Adı
                    .panel-body
                        input.form-control(type='text', name='keywordName', placeholder='Anahtar Kelime Adını Giriniz', autofocus='')
                .panel.panel-success.col-md-8
                    .panel-heading Anahtar Kelime Açıklaması
                    .panel-body
                        input.form-control(type='text', name='keywordDefinition', placeholder='Anahtar Kelime Açıklamasını Giriniz', autofocus='')
                .col-md-5
                    button.btn.btn-success.btn-block(type='submit', value='Submit') Kaydet

script(src='js/jquery.min.js')
script(src='js/bootstrap.min.js')
script(src='js/scripts.js')
