extends ProfileLayout

block solMenu
    ul.nav.nav-pills.nav-stacked
        li
            a(href='/user/following_list/#{user._id}')
                |  Takip Ettiklerim
        li.active
            a(href='/admin/addMainTopic')
                |  Temel Alan Ekle
        li
            a(href='/admin/addChiefEditor')
                | Baş Editör Ekle
        li
            a(href='/admin/addSubTopic')
                | Bilim Alanı Ekle
        li
            a(href='/topic/myRejectedTopics')
                |  Reddedilen Kavramlarım
        li
            a(href='/topic/onApprove')
                |  Onay Bekleyen Kavramlarım
        li
            a(href='/topic/myTopics')
                | Onaylanan Kavramlarım
        li
            a(href='/topic/myDrafts')
                | Taslaklarım
        //li
        //    a(href='/admin/wholeData')
        //        | Alt Admin İşlemleri
        //li
        //    a(href='/user/settings')
        //        |  Icons

block content
    .form-group
        .col-md-1
        .col-md-11
            form(method='post', action='/admin/addMainTopic', role='form')
                .panel.panel-success.col-md-5
                    .panel-heading Temel Alan Adı
                    .panel-body
                        input.form-control(type='text', name='mainTopicName', placeholder='Temel Alan Adını Giriniz', autofocus='')
                .panel.panel-success.col-md-8
                    .panel-heading Temel Alan Açıklaması
                    .panel-body
                        input.form-control(type='text', name='mainTopicDefinition', placeholder='Temel Alan Açıklamasını Giriniz', autofocus='')
                .col-md-5
                    button.btn.btn-success.btn-block(type='submit') Kaydet


script(src='../js/jquery.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/scripts.js')
