extends ProfileLayout

block solMenu
    ul.nav.nav-pills.nav-stacked
        li
            a(href='/user/following_list/#{user._id}')
                |  Takip Ettiklerim
        li
            a(href='/admin/addMainTopic')
                | Temel Alan Ekle
        li
            a(href='/admin/addChiefEditor')
                | Baş Editör Ekle
        li.active
            a(href='/admin/addSubTopic')
                | Bilim Alanı Ekle
        li
            a(href='/topic/myRejectedTopics')
                |  Reddedilen Kavramlarım
        li
            a(href='/topic/onApprove')
                |  Onay Bekleyen Kavramlarım
        li
            a(href='/topic/myTopics')
                | Onaylanan Kavramlarım
        li
            a(href='/topic/myDrafts')
                | Taslaklarım
block content
    form(method='post', action='/admin/addSubTopic')
        .form-group
            .col-md-1
            .col-md-11
                .panel.panel-success.col-md-5
                    .panel-heading Temel Alan
                    .panel-body
                        select(name='mainTopicId')
                            each mainTopic in mainTopics
                                option(value='#{mainTopic._id}')  #{mainTopic.name}
                .panel.panel-success.col-md-8
                    .panel-heading Bilim Alanı Adı
                    .panel-body
                        input.form-control(type='text', name='subTopicName', placeholder='Temel Alan Adını Giriniz', autofocus='')
                .panel.panel-success.col-md-8
                    .panel-heading Bilim Alanı Açıklaması
                    .panel-body
                        input.form-control(type='text', name='subTopicDefinition', placeholder='Temel Alan Açıklamasını Giriniz', autofocus='')
                .col-md-5
                    button.btn.btn-success.btn-block(type='submit', value='Submit') Kaydet

script(src='js/jquery.min.js')
script(src='js/bootstrap.min.js')
script(src='js/scripts.js')
