extends ProfileLayout

block solMenu
    ul.nav.nav-pills.nav-stacked
        li
            a(href='/chiefEditor/addSubTopic')
                |  Sub Topic Ekle
        li
            a(href='/chiefEditor/addEditor')
                |  Editor Ekle
        li
            a(href='/admin/wholeData')
                | Alt Admin İşlemleri
        li
            a(href='/user/settings')
                |  Icons


script(src='../js/jquery.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/scripts.js')
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
script(type='text/javascript', src='../js/materialize.js')
