extends ProfileLayout

block solMenu
    ul.nav.nav-pills.nav-stacked
        li
            a(href='/user/following_list/#{user._id}')
                |  Takip Ettiklerim
        li
            a(href='/chiefEditor/addSubTopic')
                |  Bilim Alanı Ekle
        li
            a(href='/chiefEditor/addEditor')
                |  Editör Ekle
        li
            a(href='/topic/onApprove')
                |  Onay Bekleyen Kavramlarım
        li
            a(href='adminInbox.html')
                | Onaylanan Kavramlarım
        li
            a(href='/topic/myDrafts')
                | Taslaklarım


script(src='../js/jquery.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/scripts.js')
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
script(type='text/javascript', src='../js/materialize.js')
