//
   Created by Asus on 10.05.2016.
extends ProfileLayout

block content
    h2 Takip Edilen Kavramlar
    table.table.table-responsive
        tbody
            tr
            if takipEdilenler[0]
                each takipTopic in takipEdilenlerTopicler
                    td.col-md-4(style='display: block; float:left')
                        a(style='color:#5cb85c;', href='/topic/getTopic/#{takipTopic._id}') #{takipTopic.name}
            else
                br
                i
                    p
                        | Takip ettiğiniz herhangi bir kavram yoktur.
block solMenu
    #accordion.panel-group
        .panel.panel-default
            .panel-heading
                h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                        span.glyphicon.glyphicon-user
                        | Profil
            #collapseOne.panel-collapse.collapse
                .panel-body
                    table.table
                        if user.role == 'admin'
                            tr
                                td
                                    span.glyphicon.glyphicon-pencil.text-primary
                                    a(href='/user/adminProfile') Profil Ayarları
                        if user.role == 'chiefEditor'
                            tr
                                td
                                    span.glyphicon.glyphicon-pencil.text-primary
                                    a(href='/user/chiefEditorProfile') Profil Ayarları
                        if user.role == 'editor'
                            tr
                                td
                                    span.glyphicon.glyphicon-pencil.text-primary
                                    a(href='/user/editorProfile') Profil Ayarları
                        if user.role == 'author'
                            tr
                                td
                                    span.glyphicon.glyphicon-pencil.text-primary
                                    a(href='/user/authorProfile') Profil Ayarları
                        tr
                            td
                                span.glyphicon.glyphicon-envelope
                                a(href='http://www.jquery2dotnet.com') Gelen Kutusu
                        //tr
                        //    td
                        //        span.glyphicon.glyphicon-file.text-info
                        //        a(href='http://www.jquery2dotnet.com') Newsletters
                        //tr
                        //    td
                        //        span.glyphicon.glyphicon-comment.text-success
                        //        a(href='http://www.jquery2dotnet.com') Comments
                        //        span.badge 42
        if user.role == 'admin'
            .panel.panel-default
                .panel-heading
                    h4.panel-title
                        a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                            span.glyphicon.glyphicon-th
                            | Yönetici İşlemleri
                #collapseTwo.panel-collapse.collapse
                    .panel-body
                        table.table
                            tr
                                td
                                    a(href='/admin/addMainTopic') Temel Alan Ekle
                            tr
                                td
                                    a(href='/admin/addSubTopic') Bilim Alanı Ekle
                            tr
                                td
                                    a(href='/admin/addChiefEditor') Baş Editör Ata
        if user.role == 'chiefEditor'
            .panel.panel-default
                .panel-heading
                    h4.panel-title
                        a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                            span.glyphicon.glyphicon-th
                            | Baş Editör İşlemleri
                #collapseTwo.panel-collapse.collapse
                    .panel-body
                        table.table
                            tr
                                td
                                    a(href='/chiefEditor/addKeyword') Anahtar Kelime Ekle
                            tr
                                td
                                    a(href='/chiefEditor/addEditor') Editör Ata
        if user.role == 'editor'
            .panel.panel-default
                .panel-heading
                    h4.panel-title
                        a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                            span.glyphicon.glyphicon-th
                            | Baş Editör İşlemleri
                #collapseTwo.panel-collapse.collapse
                    .panel-body
                        table.table
                            tr
                                td
                                    a(href='/user/editor/getOnay') Onay Havuzu
                            tr
                                td
                                    a(href='/chiefEditor/addEditor') Onayladıklarım
        .panel.panel-default
            .panel-heading
                h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                        span.glyphicon.glyphicon-folder-close
                        | Kulanıcı İşlemleri
            #collapseThree.panel-collapse.collapse.in
                .panel-body
                    table.table
                        tr
                            td.active
                                a(href='/user/following_list/#{user._id}') Takip Ettiklerim
                        tr
                            td
                                a(href='/topic/myDrafts') Taslaklarım
                        tr
                            td
                                a(href='/topic/myTopics') Onaylanan Kavramlarım
                        tr
                            td
                                a(href='/topic/onApprove')
                                    | Onayda Bekleyen Kavramlarım
                        tr
                            td
                                a(href='/topic/myRejectedTopics')
                                    | Reddedilen Kavramlarım



    //ul.nav.nav-pills.nav-stacked
    //    li.active
    //        a(href='/user/following_list/#{user._id}')
    //            |  Takip Ettiklerim
    //    if user.role == 'admin'
    //        li
    //            a(href='/admin/addMainTopic')
    //                | Temel Alan Ekle
    //        li
    //            a(href='/admin/addChiefEditor')
    //                | Baş Editör Ekle
    //        li
    //            a(href='/admin/addSubTopic')
    //                | Bilim Alanı Ekle
    //    if user.role == 'chiefEditor'
    //        li
    //            a(href='/chiefEditor/addKeyword')
    //                |  Anahtar Kelime Ekle
    //        li
    //            a(href='/chiefEditor/addEditor')
    //                | Editör Ekle
    //    if user.role == 'editor'
    //        li
    //            a(href='/user/editor/getOnay')
    //                |  Onay Havuzu
    //    li
    //        a(href='/topic/myRejectedTopics')
    //            |  Reddedilen Kavramlarım
    //    li
    //        a(href='/topic/onApprove')
    //            |  Onay Bekleyen Kavramlarım
    //    li
    //        a(href='/topic/myTopics')
    //            | Onaylanan Kavramlarım
    //    li
    //        a(href='/topic/myDrafts')
                | Taslaklarım

script(src='../js/jquery.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/scripts.js')
