doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='robots', content='noindex')
        title 404 Not Found
        style(type='text/css').
            * { margin: 0; padding: 0; }
            body {
                background-color: #000;
                background-image: url(http://worrydream.com/media/404_background.jpg);
                width: 800px;
                height: 600px;
                margin-left: auto;
                margin-right: auto;
            }
            #text {
                display:none;
            }
            p {
                text-align: center;

            }

    body
        #text 404 Not Found
        img(src='./404 Not Found_files/404.jpg', width='800', height='600')
        p Böyle bir Sayfa Bulunmadı

