//
   Created by TOSHIBA on 9.5.2016.

//
   Created by TOSHIBA on 9.5.2016.


extends ProfileLayout

block solMenu
    ul.nav.nav-pills.nav-stacked
        li
            a(href='/user/following_list/#{user._id}')
                |  Takip Ettiklerim
        li.active
            a(href='/user/editor/getOnay')
                |  Onay Bekleyenler Kavramlar
        li
            a(href='adminInbox.html')
                | Onaylananlar
        li
            a(href='adminSubAdmin.html')
                | Taslaklarım
        li
            a(href='tables.html')
                |  Profil Ayarları
        // /.sidebar
block content
    ul.list-group
        li.list-group-item.text-muted Onay Bekleyenler Kavramlar
        each item in onayBekleyenler
            li.list-group-item.text-right
                a.pull-left(href='/topic/getTopic/#{item._id}') #{item.name}
                //button.btn-success(ng-click='addChiefEditor($index)') Aç
                a.btn.btn-success(href='/topic/getTopic/#{item._id}') Aç



script(src='../js/jquery.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/scripts.js')
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
script(type='text/javascript', src='../js/materialize.js')

