extends ProfileLayout

block solMenu
    ul.nav.nav-pills.nav-stacked
        li
            a(href='/user/settings')
                |  Takip Ettiklerim
        li
            a(href='/topic/onApprove')
                |  Onay Bekleyenler
        li.active
            a(href='/topic/myDrafts')
                | Taslaklarım
        li
            a(href='/topic/myTopics')
                | Onaylananlar
        li
            a(href='/user/settings')
                |  Profil Ayarları

block content
    ul.list-group
        li.list-group-item.text-muted Onay Bekleyenler
        each item in myDraftTopics
            li.list-group-item.text-right
                a.pull-left(href='/topic/#{item._id}') #{item.abstract}
                button.btn-success(ng-click='addChiefEditor($index)') Düzenle



script(src='../js/jquery.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/scripts.js')
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
script(type='text/javascript', src='../js/materialize.js')
