extends ProfileLayout

block solMenu
    ul.nav.nav-pills.nav-stacked
        li
            a(href='/user/following_list/#{user._id}')
                |  Takip Ettiklerim
        if user.role == 'admin'
            li
                a(href='/admin/addMainTopic')
                    | Temel Alan Ekle
            li
                a(href='/admin/addChiefEditor')
                    | Baş Editör Ekle
            li
                a(href='/admin/addSubTopic')
                    | Bilim Alanı Ekle
        if user.role == 'chiefEditor'
            li
                a(href='/chiefEditor/addKeyword')
                    |  Anahtar Kelime Ekle
            li
                a(href='/chiefEditor/addEditor')
                    | Editör Ekle
        if user.role == 'editor'
            li
                a(href='/user/editor/getOnay')
                    |  Onay Havuzu
        li
            a(href='/topic/onApprove')
                |  Onay Bekleyen Kavramlarım
        li
            a(href='/topic/myTopics')
                | Onaylanan Kavramlarım
        li.active
            a(href='/topic/myDrafts')
                | Taslaklarım

block content
    ul.list-group
        li.list-group-item.text-muted Taslaklarım
        each item in myDraftTopics
            li.list-group-item.text-right
                a.pull-left(href='/topic/editTopic/#{item._id}') #{item.name}
                button.btn-success(type='submit', name = 'Submit' onclick="location.href='/topic/addTopic';") Düzenle



script(src='../js/jquery.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/scripts.js')
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
script(type='text/javascript', src='../js/materialize.js')
