extends MainLayout

block content
    h2 Bilim Alanları
    table.table.table-responsive
        tbody
            tr.col-md-4(style='display: block; float: left;')
            each subTopic in subTopics
                td
                    a(style='color:#5cb85c;', href='/subTopic/#{subTopic._id}') #{subTopic.name}


//block solMenu
    .list-group
        span.list-group-item.active(href='#')
            | Ana Başlıklar
            span#slide-submenu.pull-right
                i.fa.fa-times
        each mainTopic in mainTopics
            a.list-group-item(href='/mainTopic/#{mainTopic._id}')
                i.fa
                |  #{mainTopic.name}
                if mainTopic.relevantSubTopics.length > 0
                    span.badge 1
                else
                    span.badge 0


block sagMenu
    if user
        .list-group
            span.list-group-item.active(href='#')
                | Takip Edilen Kavramlar
                span#slide-submenu.pull-right
                    i.fa.fa-times
            a.list-group-item(href='#')
                i.fa
                |  java
                span.badge 124


        .list-group
            span.list-group-item.active(href='#')
                | Tavsiye Edilen Kavramlar
                span#slide-submenu.pull-right
                    i.fa.fa-times
            a.list-group-item(href='#')
                i.fa
                |  java
                span.badge 124

block sagUstMenu
    if !user
        ul.nav.navbar-nav.navbar-right
            .navbar-form.form-group
                button.btn.btn-success(type= 'submit', name = 'Submit', onclick="location.href='/user/login';")
                    | Giriş
                button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/user/register';")
                    | Kaydol !


    if user
        ul.nav.navbar-nav.navbar-right
            .navbar-form.form-group
                button.btn.btn-success(type='submit', name = 'Submit' onclick="location.href='/topic/addTopic';")
                    span.glyphicon.glyphicon-plus(aria-hidden='true')
                        |  Kavram Ekle
                if user.role == 'editor'
                    button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/user/editorProfile';")
                        | Editor Profili !
                else
                    if user.role == 'admin'
                        button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/user/adminProfile';")
                            | Admin profili !
                    else
                        if user.role == 'author'
                            a.btn.btn-info.btn-md(href='/user/authorProfile')
                                span.glyphicon.glyphicon-user
                                |  Profil
                        else
                            if user.role == 'chiefEditor'
                                a.btn.btn-info.btn-lg(href='/user/chiefEditorProfile')
                                    span.glyphicon.glyphicon-user
                                    |  Chief Profile
                button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/user/logout';")
                    | Çıkış !
