extends MainLayout

block content
    h2 Bilim Alanları
    table.table.table-responsive
        tbody
            tr.col-md-4(style='display: block; float: left;')
            each subTopic in subTopics
                td
                    a(style='color:#5cb85c;', href='/subTopic/#{subTopic._id}') #{subTopic.name}

