//
   Created by TOSHIBA on 5.5.2016.

extends MainLayout

block content
    h2 #{title}
    table.table.table-responsive
        tbody
            tr.col-md-4(style='display: block; float: left;')
            each topic in topics
                td
                    a(style='color:#5cb85c;', href='/topic/getTopic/#{topic._id}') #{topic.name}