extends MainLayout

block content
    h2 Bilim Alanları
    table.table.table-responsive
        tbody
            tr
            each subTopic in subTopics
                td.col-md-4(style='display: block; float:left')
                    a(style='color:#5cb85c;', href='/subTopic/#{subTopic._id}') #{subTopic.name}

script(src='../js/jquery.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/scripts.js')