extends ProfileLayout

block solMenu
    ul.nav.nav-pills.nav-stacked
        li
            a(href='/topic/onApprove')
                |  Onay Bekleyenler
        li
            a(href='adminInbox.html')
                | Onaylananlar
        li.active
            a(href='adminSubAdmin.html')
                | Taslaklarım
        li
            a(href='tables.html')
                |  Profi Ayarları
        // /.sidebar



script(src='../js/jquery.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/scripts.js')
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
script(type='text/javascript', src='../js/materialize.js')

